<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    </head>
    <body>
        <div>
            <img class='photo' src="http://cdn2.hubspot.net/hub/245562/file-306538470-png/v3/ninja2.png?t=1453934745802"></img>            
             
            <p  class='blocks'>John Brown</p>
            <br>
            <br>
            <p  class='blocks'>Today is {{ time }}</p>
            <br>
            <br>
            <p class='blocks'>Username  morphguy
                ID: 62000000
                Sex: Male
                Age: 10
                Highest Score: 120
                TDollars 200
            </p>
        </div>
                


        </div>

    </body>
</html>